.app{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FEFAE0;
}

.header{
  background-color:#DDA15E ;
  margin: 10px;
  padding: 0% 33% ;
}

.navbar{
  align-items: center;
  background-color:#DDA15E;
  margin: 10px;
  padding: 1% 20%;
}

.act-dis{
  margin: 50px;
  padding: 0% 100% ;
}

.act-list{
  padding: 0px 10px 0px 10px;
}

.footer{
  align-items: row;
  background-color: chocolate;
  width:100%;
}

li {
}