.app{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FEFAE0;
}
.app > *{
  padding: 20px;
}

.header{
  display: flex;
  flex-direction: column;
  background-color:#DDA15E ;
  width: 100%;
}

.navbar{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:black;
  width: 100%;
}

.act-dis{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer{
  display: flex;
  align-items: row;
  width: 100%;
  background-color: chocolate;
}